<div class="container" ng-controller="DishDetailController">
    <div class="col-hs-12 error-message" ng-if="!showDish">
            <h3>{{message}}</h3>
    </div>
    <div class="row row-content" ng-if="showDish">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation">
                <a area-controls="all menu" role="tab">Dish Details</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="dish-comments-tab">
                <ul class="media-list tab-pane fade in active">
                    <li class="media">
                        <div class="media-left media-top">
                            <a ui-sref="app.menu" data-toggle="tooltip" name="{{dish.name}}" title="Back to menu">
                                    <img class="media-object img-thumbnail" ng-src={{dish.image}} alt={{dish.name}}>
                                </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                                    <span class="label label-danger">{{dish.label}}</span>
                                    <span class="badge">{{dish.price | currency}}</span>
                                </h2>
                            <div class="padding20">
                                <p>{{dish.description}}</p>
                            </div>
                        </div>
                        <div class="offset">
                            <div>
                                <a ng-click="showDetails = ! showDetails" class="more-info">
                                    <h4>Customer Comments 
                                        <span ng-class="{ 'display-class': ! showDetails }">&#9660;</span>
                                    </h4>
                                </a>
                                <div class="comments-div" ng-class="{ 'display-class': ! showDetails }">
                                    <p>Sort By <span>(rating, comment or author)   </span>
                                        <input type="text" ng-model="sortWords[$index]">
                                    </p>
                                    <p>{{sortWord}}</p>
                                    <div ng-repeat="comment in dish.comments | orderBy: sortWords[$index]">
                                        <blockquote>
                                            <h3>{{comment.rating}} Stars</h3>
                                            <q>{{comment.comment}}</q>
                                            <p>{{comment.author}}, {{comment.date | date}}</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="user-comment-tab" ng-controller="DishCommentController">
                <div class="comment-preview">
                    <blockquote>
                        <h3>{{mycomment.rating}} Stars</h3>
                        <q>{{mycomment.comment}}</q>
                        <p>{{mycomment.author}}, {{mycomment.date | date}}</p>
                    </blockquote>
                </div>
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                    <div class="form-group" ng-class="{'has-error has-feedback': commentForm.author.$error.required && !commentForm.author.$pristine, 'has-success has-feedback': commentForm.author.$valid}">
                        <label for="author" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="author" name="author" placeholder="Enter Name" ng-model="mycomment.author" required>
                            <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rating" class="col-sm-2 control-label">Number of Stars</label>
                        <div class="col-sm-10">
                            <label for="" class="radio-inline">
                                <input type="radio" name="rating" value="1" ng-model="mycomment.rating">1 </label>
                            <label for="" class="radio-inline">
                                <input type="radio" name="rating" value="2" ng-model="mycomment.rating">2 </label>
                            <label for="" class="radio-inline">
                                <input type="radio" name="rating" value="3" ng-model="mycomment.rating">3 </label>
                            <label for="" class="radio-inline">
                                <input type="radio" name="rating" value="4" ng-model="mycomment.rating">4 </label>
                            <label for="" class="radio-inline">
                                <input type="radio" name="rating" value="5" ng-model="mycomment.rating" checked>5 </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error has-feedback': commentForm.comment.$error.required && !commentForm.comment.$pristine, 'has-success has-feedback': commentForm.comment.$valid}">
                        <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="mycomment.comment" required></textarea>
                            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your comments are required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-danger submit" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>